.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: linear-gradient(90deg, rgba(131, 90, 253, 1) 0%, rgba(227, 89, 249, 1) 100%);
    color: #fff;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;

    background-size: 200%;
    transition: background-position 0.5s ease-out;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: rgba(131, 90, 253, 0.2);
        border: 1px solid #835afd;
        color: #835afd;

        &:hover {
            background: #835afd;
            color: #fff;
        }
    }

    &:not(:disabled):hover {
        // filter: brightness(0.9);
        background-position: 50%;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}
