* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;

    &::-webkit-scrollbar-track {
        background: none;
        border-left: 1px solid #ccc;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #737380;
    }
}

body,
input,
button,
textarea {
    font: 400 16px "Roboto", sans-serif;
}

button:active {
    transform: translate(1px, 1px) !important;
}
