.room-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border: 1px solid #835afd;
    gap: 12px;
    color: #835afd;
    font-weight: 500;
    font-size: 14px;

    &:hover {
        transform: scale(1.02);
    }
}
